a {
  text-decoration: none !important;
}

.hero-section-home {
  background-image: url(../public/images/hero-image-1.jpg);
  background-position: right;
  height: 50vh;
}

.hero-section-dim {
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-sub-section {
  height: 50vh;
  color: white;
}

.padding-left-50px {
  padding-left: 50px !important;
}